
<div class="bg-image  " style="background-image: url('/img/czyste tlo.jpg'); height: 100vh; background-repeat: repeat">
    <div class="menu_space"></div>
    <h2 class="text-center">Przebieg walki</h2>
    <div class="przebieg_walki text-center d-flex align-items-center overflow-auto">
        <ol>
            {{#each log}}
                <li>{{this}}</li>
            {{/each}}
        </ol>
    </div>
</div>

