<div class="bg-image"
     style="background-image: url('/img/tlo_final.jpg'); height: 100vh; background-repeat: no-repeat; background-size: cover; opacity: 0.8">
    <div id="header-space"></div>

<!--    <p>Witaj na arenie walk</p>-->
</div>
